<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.negaboxdummy.payment.PaymentMapper">

    <insert id="ReservationInsert"
            parameterType="kr.co.negaboxdummy.payment.model.ReservationReq"
            useGeneratedKeys="true"
            keyProperty="reservationId">
        INSERT INTO reservation
        (schedule_id, user_id, non_user_id, price, status, created_at, updated_at)
        VALUES
        (#{scheduleId}, #{userId}, #{nonUserId}, #{price}, #{status}, #{createdAt}, #{updatedAt})
    </insert>
</mapper>